<div class="container" >

<form #userForm="ngForm" (ngSubmit)="registerUser(userForm.value)"> 
    <div  class="form-group">

        <label>Name</label>
        <input type="text"    class="form-control" >
        //https://github.com/abhigun1234/formsbuildermodel.git
    </div>
    <div  class="form-group">
        
                <label>Email</label>
                <input type="text"    class="form-control" name="name" ngModel >
        
            </div>
            <div  class="form-group">
                
                        <label>PhoneNo</label>
                        <input type="text"    class="form-control" name="email"  ngModel>
                
                    </div>
            <div  class="form-group">
                    
                            <label>City</label>
                            <input type="text"    class="form-control" name="city" ngModel>
                    
                        </div>
            <div  class="form-group">
                    
                            <label>PostelCode</label>
                            <input type="text"    class="form-control" name="postelcode" ngModel>
                    
                        </div>
                        <button class="btn btn-primary" >Submit</button>
</form>
</div>
