<div class ="container">
  <h2>User Data</h2>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div class ="form-group">
      <label>Name</label>
      <input  #name type="text"    class="form-control" formControlName="name" >
     {{name.className}}
    </div>
    <div class ="form-group">
      <label>Price</label>
      <input type="text"    class="form-control" formControlName="price" >
     
    </div>
    <div class ="form-group">
      <label>Description</label>
      <input type="text"    class="form-control" formControlName="description" >
     
    </div>
     <!-- <div class ="form-group">
        <label>Email</label>
        <input type="text"  name="email"  class="form-control"  formControlName="email">
      </div>
      <div class ="form-group">
        <label>Age</label>
        <input type="text"  name="age"  class="form-control"  formControlName="age">
      </div>
     <div formGroupName="address">

          <div class ="form-group">
              <label>State</label>
              <input type="text"  name="state"   class="form-control" formControlName="state">
            </div>
            <div class ="form-group">
                <label>City</label>
                <input type="text"  name="city"   class="form-control"  formControlName="city">
              </div>
              <div class ="form-group">
                  <label>PostelCode</label>
                  <input type="text"  name="postalcode"   class="form-control" formControlName="postelcode">
                </div>
      </div> -->
      
        <button  type="submit" class="btn btn-primary">Submit</button>
  </form>
  </div>
